<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>{% block title %} {% endblock %}</title>
  </head>
  <body>
    {% include 'navbar.html' %}
    <div class='container-fluid'>
      <div class='row'>
        <div class='col-lg-8 mx-auto'>
          <h1>{{title}}</i></h1>
          {% block content %}
            Replace this value
          {% endblock %}
        </di>
      </div>
    </div>
   {% include 'js.html'%} 

  </body>
</html>