{% extends "base.html" %}

{% block title%} carteira {% endblock %}

{% block content %}
	<h1>Detalhes da Carteira</h1> </br>
	<table class="table">
  <thead>
    <tr>
      <th scope="col">Ticher</th>
      <th scope="col">Nome</th>
      <th scope="col">Setor</th>
      <th scope="col">Tipo</th>
      <th scope="col">Quantidade</th>
      <th scope="col">Preço Médio</th>
      <th scope="col">Total Taxa</th>
      <th scope="col">Total Pago</th>
      <th scope="col">Total Hoje</th>
    </tr>
  </thead>
  <tbody>
    {% for object in object_list %} 
    <!-- {% include 'list-inline.html' %} -->
  	<tr>
       <th scope="row"><li><a href='/carteira/transacao/{{object.ticker__ticker}}'>{{ object.ticker__ticker}} </a></li></th>
       <td>{{object.ticker__nome}}</td>
       <td>{{object.ticker__setor}}</td>
       <td>{{object.ticker__tipo}}</td>
       <td>{{object.quantidade__sum}}</td>
       <td>{{object.preco_medio|floatformat:2}}</td>
       <td>{{object.total_taxa|floatformat:2}}</td>
       <td>{{object.total_pago|floatformat:2}}</td>
       <td></td>
     </tr>
    {% endfor %}
  </tbody>
</table>

<!--	<h1>{{ object.ticker }}</h1> -->
<!--	<h2>{{ object.dataCompra }}</h2> -->
{% endblock %}