{% extends "base.html" %}

{% block title%} Dividendos {% endblock %}

{% block content %}
	<h1>Detalhes dos Dividendos </h1> </br>
	<table class="table">
    <thead>
      <tr>
        <th scope="col">Ticher</th>
        <th scope="col">Data Dividendo</th>
        <th scope="col">Data Pagamento</th>
        <th scope="col">Valor por Cota</th>
        <th scope="col">Valor Total</th>
        <th scope="col">Editar</th>
        <th scope="col">Deletar</th>
      </tr>
    </thead>
    <tbody>
      {% for object in object_list %}
      <!-- {% include 'list-inline.html' %} -->
    	<tr>
         <td>{{object.ticker}}</td>
         <td>{{object.dataDividendo|date:"d M, Y"}}</td>
         <td>{{object.dataPagamento|date:"d M, Y"}}</td>
         <td>{{object.dividendos}}</td>
         <td>Vazio</td>
         <td><i class="fas fa-edit"></i></td>
         <td><i class='fas fa-eraser' style='font-size:20px;color:red'></i></td>
       </tr>
      {% endfor %}
    </tbody>
  </table>

<!--	<h1>{{ object.ticker }}</h1> -->
<!--	<h2>{{ object.dataCompra }}</h2> -->
{% endblock %}