{% extends "base.html" %}

{% block title%} transacoes {% endblock %}

{% block content %}
	<h1>Detalhe das Transações</h1> </br>
	<table class="table">
  <thead>
    <tr>
      <th scope="col">Ticher</th>
      <th scope="col">Data Compra</th>
      <th scope="col">Qtde</th>
      <th scope="col">Valor Compra</th>
      <th scope="col">Taxa</th>
      <th scope="col">Total Compra</th>
      <th scope="col">Preço Hoje</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    {% for object in object_list %}
  	<tr>
       <th scope="row">{{object.ticker}}</th>
       <td>{{object.dataCompra}}</td>
       <td>{{object.quantidade}}</td>
       <td>{{object.valorCompra}}</td>
       <td>{{object.taxa}}</td>
       <td>{{object.total_pago|floatformat:2}}</td>
       <td>{{price}}</td>
       <td>{% if request.user.is_authenticated %}
              {% if request.user.is_staff %}
                <a href='/carteira/transacao/{{object.id}}/edit'>Edit</a>
              {% endif %}
            {% endif %}
      </td>
      <td>{% if request.user.is_authenticated %}
              {% if request.user.is_staff %}
                <a href='/carteira/transacao/{{object.id}}/delete'>Delete</a>
              {% endif %}
            {% endif %}
      </td>
     </tr>
     {% endfor %}
    
  </tbody>
</table>

<!--	<h1>{{ object.ticker }}</h1> -->
<!--	<h2>{{ object.dataCompra }}</h2> -->
{% endblock %}